{
  "openapi": "3.1.0",
  "info": {
    "title": "Maya API",
    "description": "OpenAPI specification for the Maya API (v1). Most endpoints require personal access tokens via HTTP Bearer.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://supmaya.com",
      "description": "API base"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/v1/agents": {
      "get": {
        "tags": ["Agents"],
        "summary": "List agents",
        "description": "Returns a paginated list of agents for the authenticated company.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": { "type": "integer", "format": "int32", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated agents response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedAgents" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/agents/{agent}": {
      "get": {
        "tags": ["Agents"],
        "summary": "Get a agent",
        "description": "Returns a single agent by ID.",
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Bot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Bot" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/agents/{agent}/contacts": {
      "put": {
        "tags": ["Contacts"],
        "summary": "Update a contact for a agent",
        "description": "Updates an existing contact identified by `id` or `phone` for the current company and agent.",
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateContact" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "opportunity": { "type": "string" },
                    "data": { "$ref": "#/components/schemas/Contact" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/api/v1/agents/{agent}/opportunites": {
      "post": {
        "tags": ["Opportunitys"],
        "summary": "Create/update inbound contact",
        "description": "Initiates the contact agent conversation. Existing contact entries will initiate a new outreach if status is `completed`.",
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InboundOpportunity" },
              "examples": {
                "basic": {
                  "value": {
                    "name": "Jane Smith",
                    "email": "jane@example.com",
                    "company": "Example Corp",
                    "phone": "+14155552671",
                    "channel": "sms",
                    "external_id": "crm-12345"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Opportunity accepted; agent dispatched",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OpportunityAccepted" }
              }
            }
          },
          "207": {
            "description": "Contact updated but already in active conversation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PartialSuccess" }
              }
            }
          },
          "402": {
            "description": "Contact limit reached for current billing period",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LimitReached" }
              }
            }
          },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/calendar/mock-availability": {
      "post": {
        "tags": ["Calendar"],
        "summary": "Mock availability",
        "description": "Returns mock calendar availability slots for testing calendar integrations.",
        "security": [],
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "description": "ISO8601 start date-time (defaults to tomorrow)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "ISO8601 end date-time (defaults to start + 7 days)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of slots to return (default 24)",
            "schema": { "type": "integer", "format": "int32", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of mock availability slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AvailabilitySlot" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Bot": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "company_id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "status": { "type": "boolean" },
          "timezone": { "type": ["string", "null"] },
          "prompt": { "type": ["string", "null"] },
          "calendar_channel": { "type": ["string", "null"], "enum": ["calendly", "api", null] },
          "qualification_channel": { "type": ["string", "null"] },
          "calendar_api_availability_url": { "type": ["string", "null"], "format": "uri" },
          "created_at": { "type": ["string", "null"], "format": "date-time" },
          "updated_at": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "agent_id": { "type": ["integer", "null"], "format": "int64" },
          "name": { "type": ["string", "null"] },
          "email": { "type": ["string", "null"], "format": "email" },
          "phone": { "type": ["string", "null"] },
          "company": { "type": ["string", "null"] },
          "external_id": { "type": ["string", "null"] },
          "status": { "type": ["string", "null"], "enum": ["new", "open", "completed", null] },
          "created_at": { "type": ["string", "null"], "format": "date-time" },
          "updated_at": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "owner_id": { "type": ["integer", "null"], "format": "int64" },
          "billing_cycle_start_date": { "type": ["string", "null"], "format": "date-time" },
          "created_at": { "type": ["string", "null"], "format": "date-time" },
          "updated_at": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "InboundOpportunity": {
        "type": "object",
        "required": ["name", "phone"],
        "properties": {
          "name": { "type": "string", "maxLength": 255 },
          "email": { "type": ["string", "null"], "format": "email", "maxLength": 255 },
          "company": { "type": ["string", "null"], "maxLength": 255 },
          "phone": { "type": "string", "description": "E.164 format (e.g. +14155552671)" },
          "channel": { "type": ["string", "null"], "description": "Use for the initial outreach. Allowed values - `sms` or `whatsapp`. If omitted, the agent's configured `qualification_channel` will be used.", "maxLength": 100 },
          "external_id": { "type": ["string", "null"], "maxLength": 255 }
        }
      },
      "UpdateContact": {
        "type": "object",
        "properties": {
          "id": { "type": ["integer", "null"], "format": "int64" },
          "phone": { "type": ["string", "null"], "description": "E.164 format (e.g. +14155552671)" },
          "name": { "type": ["string", "null"], "maxLength": 255 },
          "email": { "type": ["string", "null"], "format": "email", "maxLength": 255 },
          "company": { "type": ["string", "null"], "maxLength": 255 },
          "external_id": { "type": ["string", "null"], "maxLength": 255 }
        }
      },
      "AvailabilitySlot": {
        "type": "object",
        "properties": {
          "start_time_utc": { "type": "string", "format": "date-time" },
          "start_time_local": { "type": "string", "format": "date-time" },
          "timezone": { "type": "string" },
          "invitees_remaining": { "type": "integer", "format": "int32" },
          "status": { "type": "string" },
          "scheduling_url": { "type": "string", "format": "uri" }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": { "type": "integer" },
          "from": { "type": ["integer", "null"] },
          "last_page": { "type": "integer" },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": { "type": ["string", "null"], "format": "uri" },
                "label": { "type": "string" },
                "active": { "type": "boolean" }
              }
            }
          },
          "path": { "type": "string" },
          "per_page": { "type": "integer" },
          "to": { "type": ["integer", "null"] },
          "total": { "type": "integer" }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": { "type": ["string", "null"], "format": "uri" },
          "last": { "type": ["string", "null"], "format": "uri" },
          "prev": { "type": ["string", "null"], "format": "uri" },
          "next": { "type": ["string", "null"], "format": "uri" }
        }
      },
      "PaginatedAgents": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Bot" }
          },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "OpportunityAccepted": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "opportunity": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "contact_id": { "type": "integer", "format": "int64" },
              "agent_id": { "type": "integer", "format": "int64" },
              "status": { "type": "string" },
              "channel": { "type": "string" }
            }
          }
        }
      },
      "PartialSuccess": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "opportunity": { "type": "string" },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        }
      },
      "LimitReached": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "opportunity": { "type": "string" },
          "limit_reached": { "type": "boolean" },
          "contacts_contacted": { "type": "integer" },
          "contacts_allowed": { "type": "integer" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["opportunity"],
        "properties": {
          "opportunity": { "type": "string" }
        }
      },
      "ValidationProblem": {
        "type": "object",
        "required": ["opportunity", "errors"],
        "properties": {
          "opportunity": { "type": "string" },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthenticated",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "NotFound": {
        "description": "Not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "ValidationError": {
        "description": "Validation failed",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationProblem" } } }
      }
    }
  }
}