{
  "openapi": "3.1.0",
  "info": {
    "title": "Maya API",
    "description": "OpenAPI specification for the Maya API (v1). Most endpoints require personal access tokens via HTTP Bearer.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://supmaya.com",
      "description": "API base"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/v1/company": {
      "get": {
        "tags": ["Company"],
        "summary": "Get current company",
        "description": "Returns the authenticated company.",
        "responses": {
          "200": {
            "description": "Authenticated company",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v1/agent/{agent}": {
      "get": {
        "tags": ["Agents"],
        "summary": "Get an agent",
        "description": "Returns a single agent by ID.",
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "description": "Agent ID",
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Agent" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/agents": {
      "get": {
        "tags": ["Agents"],
        "summary": "List agents",
        "description": "Returns a paginated list of agents for the authenticated company.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": { "type": "integer", "format": "int32", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated agents response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedAgents" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/opportunities/{opportunity}": {
      "get": {
        "tags": ["Opportunities"],
        "summary": "Get an opportunity",
        "parameters": [
          {
            "name": "opportunity",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Opportunity" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/opportunities": {
      "get": {
        "tags": ["Opportunities"],
        "summary": "List opportunities",
        "parameters": [
          {
            "name": "contact_id",
            "in": "query",
            "schema": {"type": "integer", "format": "int64"},
            "description": "Filter opportunities by contact ID"
          },
          {
            "name": "created_at",
            "in": "query",
            "schema": {"type": "string", "format": "date"},
            "description": "Filter opportunities created on this date"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["new", "qualified", "won", "lost"]
            },
            "description": "Filter opportunities by status"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated opportunities",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedOpportunities" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/contacts/{contact}": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get a contact",
        "description": "Returns a single contact by ID.",
        "parameters": [
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact ID",
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/contacts": {
      "get": {
        "tags": ["Contacts"],
        "summary": "List contacts",
        "description": "Returns a paginated list of contacts for the authenticated company.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": { "type": "integer", "format": "int32", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated contacts",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedContacts" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Agent": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "prompt": { "type": ["string", "null"] },
          "booking_link": { "type": ["string", "null"], "format": "uri" },
          "webhook_url": { "type": ["string", "null"], "format": "uri" },
          "webhook_zapier": { "type": ["string", "null"] },
          "show_heading": { "type": "boolean" },
          "active": { "type": "boolean" },
          "customisation": { "type": ["object", "null"] },
          "created_at": { "type": ["string", "null"], "format": "date-time" },
          "updated_at": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "first_name": { "type": ["string", "null"] },
          "last_name": { "type": ["string", "null"] },
          "company": { "type": ["string", "null"] },
          "email": { "type": ["string", "null"], "format": "email" },
          "phone": { "type": ["string", "null"] },
          "created_at": { "type": ["string", "null"], "format": "date-time" },
          "updated_at": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "owner_id": { "type": ["integer", "null"], "format": "int64" },
          "billing_cycle_start_date": { "type": ["string", "null"], "format": "date-time" },
          "billing_cycle_end_date": { "type": ["string", "null"], "format": "date-time" },
          "created_at": { "type": ["string", "null"], "format": "date-time" },
          "updated_at": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "InboundOpportunity": {
        "type": "object",
        "required": ["name", "phone"],
        "properties": {
          "name": { "type": "string", "maxLength": 255 },
          "email": { "type": ["string", "null"], "format": "email", "maxLength": 255 },
          "company": { "type": ["string", "null"], "maxLength": 255 },
          "phone": { "type": "string", "description": "E.164 format (e.g. +14155552671)" },
          "channel": { "type": ["string", "null"], "description": "Use for the initial outreach. Allowed values - `sms` or `whatsapp`. If omitted, the agent's configured `qualification_channel` will be used.", "maxLength": 100 },
          "external_id": { "type": ["string", "null"], "maxLength": 255 }
        }
      },
      "UpdateContact": {
        "type": "object",
        "properties": {
          "id": { "type": ["integer", "null"], "format": "int64" },
          "phone": { "type": ["string", "null"], "description": "E.164 format (e.g. +14155552671)" },
          "first_name": { "type": ["string", "null"], "maxLength": 255 },
          "last_name": { "type": ["string", "null"], "maxLength": 255 },
          "email": { "type": ["string", "null"], "format": "email", "maxLength": 255 },
          "company": { "type": ["string", "null"], "maxLength": 255 }
        }
      },
      "AvailabilitySlot": {
        "type": "object",
        "properties": {
          "start_time_utc": { "type": "string", "format": "date-time" },
          "start_time_local": { "type": "string", "format": "date-time" },
          "timezone": { "type": "string" },
          "invitees_remaining": { "type": "integer", "format": "int32" },
          "status": { "type": "string" },
          "scheduling_url": { "type": "string", "format": "uri" }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": { "type": "integer" },
          "from": { "type": ["integer", "null"] },
          "last_page": { "type": "integer" },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": { "type": ["string", "null"], "format": "uri" },
                "label": { "type": "string" },
                "active": { "type": "boolean" }
              }
            }
          },
          "path": { "type": "string" },
          "per_page": { "type": "integer" },
          "to": { "type": ["integer", "null"] },
          "total": { "type": "integer" }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": { "type": ["string", "null"], "format": "uri" },
          "last": { "type": ["string", "null"], "format": "uri" },
          "prev": { "type": ["string", "null"], "format": "uri" },
          "next": { "type": ["string", "null"], "format": "uri" }
        }
      },
      "PaginatedAgents": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Agent" }
          },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedContacts": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Contact" }
          },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "Opportunity": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "status": { "type": ["string", "null"] },
          "summary": { "type": ["string", "null"] },
          "value": { "type": ["number", "null"], "format": "float" },
          "contact_id": { "type": ["integer", "null"], "format": "int64" },
          "agent_id": { "type": ["integer", "null"], "format": "int64" },
          "follow_up_requested": { "type": "boolean" },
          "follow_up_type": { "type": ["string", "null"] },
          "webhook_sent": { "type": "boolean" },
          "company_id": { "type": ["integer", "null"], "format": "int64" },
          "created_at": { "type": ["string", "null"], "format": "date-time" },
          "updated_at": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "PaginatedOpportunities": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Opportunity" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" }
        }
      },
      "OpportunityAccepted": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "opportunity": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "contact_id": { "type": "integer", "format": "int64" },
              "agent_id": { "type": "integer", "format": "int64" },
              "status": { "type": "string" },
              "channel": { "type": "string" }
            }
          }
        }
      },
      "PartialSuccess": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "opportunity": { "type": "string" },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        }
      },
      "LimitReached": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "opportunity": { "type": "string" },
          "limit_reached": { "type": "boolean" },
          "contacts_contacted": { "type": "integer" },
          "contacts_allowed": { "type": "integer" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["opportunity"],
        "properties": {
          "opportunity": { "type": "string" }
        }
      },
      "ValidationProblem": {
        "type": "object",
        "required": ["opportunity", "errors"],
        "properties": {
          "opportunity": { "type": "string" },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthenticated",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "NotFound": {
        "description": "Not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "ValidationError": {
        "description": "Validation failed",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationProblem" } } }
      }
    }
  }
}